ul.navigation {
    display: flex;
    background: lightskyblue;
    justify-content: space-between;
    li {
        list-style-type: none;
        text-transform: uppercase;
        font-weight: bold;
        padding: 1rem;
        text-decoration: underline;
    }
}